<!-- views/detailedForm.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW/Locust Project -  Detailed Data Entry</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style_final.css" type="text/css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
        .FAW        { display: none;}
	</style>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="//unpkg.com/flatpickr"></script>
	<script src="/scripts/jquery.form.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!--<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBX94wEDdQ52lCDhKAhcfR-flIw1NyLTMA"></script>-->
</head>
<body>
<div class="container">

	<div id="modal" class="modal">
		<!-- Modal content -->
		<div id="modal-content">
			<div id="modal-header">
				<span id="close"></span>
				<h2 id="header"></h2>
			</div>
			<div id="modal-body">
				<p id="body"></p>
			</div>
			<div id="modal-footer">
			</div>
		</div>
	</div>

	<h1 id="title">Step 2: Detailed Form</h1>
	<div id="container">
		<form id="insertForm" method = "post">
			<div>
                <h4>Transaction ID: &nbsp;&nbsp;&nbsp;</h4><input id="transactionID" name="transactionID" type="text" value="<%= transactionID %>" readonly><br><br>
                <h4>A. Pests Present: &nbsp;&nbsp;&nbsp;</h4>
				<select id='pestsPresent' name='pestsPresent' onchange="pestSelect()" required>
					<option value=''>SELECT THE TYPE OF THE PEST</option>
					<option>FAW</option>
					<option>AAW</option>
					<option>BORER</option>
				</select><br><br>
			</div>
            <div class="FAW">
                <h2>FAW</h2>
                <h4>B. FAW Stage: &nbsp;&nbsp;&nbsp;</h4>
                <select id='fawStage' name='fawStage' required>
                    <option value=''>SELECT THE STAGE</option>
                    <option>EGGS</option>
                    <option>LARVAE</option>
                    <option>PUPAE</option>
                    <option>ADULTS</option>
                </select><br><br>
                <h4>C. Early Damage Level: &nbsp;&nbsp;&nbsp;</h4>
                <select id='earlyDamageLevel' name='earlyDamageLevel' required>
                    <option value=''>SELECT THE DAMAGE LEVEL</option>
                    <option>NONE</option>
                    <option>LOW</option>
                    <option>MEDIUM</option>
                    <option>HIGH</option>
                </select><br><br>
                <h4>D. Late Damage Level: &nbsp;&nbsp;&nbsp;</h4>
                <select id='lastDamageLevel' name='lateDamageLevel' required>
                    <option value=''>SELECT THE DAMAGE LEVEL</option>
                    <option>NONE</option>
                    <option>LOW</option>
                    <option>MEDIUM</option>
                    <option>HIGH</option>
                </select><br><br>
                <h4>E. Natural Enemies Present ?&nbsp;&nbsp;&nbsp;</h4>
                <input type="radio" name="naturalEnemies" value="yes"> YES
                <input type="radio" name="naturalEnemies" value="no"> NO <br><br>
                <h4>F. Dead Larvae Killed By Natural Enemies ?&nbsp;&nbsp;&nbsp;</h4>
                <input type="radio" name="deadLarvae" value="yes"> YES
                <input type="radio" name="deadLarvae" value="no"> NO <br><br>
                <h4>G. % Plants Infested (From 50 Plant Examples): &nbsp;&nbsp;&nbsp;</h4><input id="percentInfested" name="percentInfested" type="text" placeholder="Enter Number (Numerical) Here" required><br><br>

                <h2>FAW Control</h2>
                <h4>H. Control Undertaken: &nbsp;&nbsp;&nbsp;</h4>
                <select id='control' name='control' required>
                    <option value=''>SELECT THE CONTROL TYPE</option>
                    <option>NONE</option>
                    <option>EGG SQUASHING</option>
                    <option>HAND PICKING</option>
                    <option>MECHANICAL</option>
                    <option>CULTURAL</option>
                    <option>BIOCONTROL</option>
                    <option>PESTICIDE</option>
                </select><br><br>
                <h4>I. Pesticide Litres Sprayed ?&nbsp;&nbsp;&nbsp;</h4>
                <input type="radio" name="pesticide" value="yes"> YES
                <input type="radio" name="pesticide" value="no"> NO <br><br>

                <!--<h2>Photos</h2>-->
                <!--<h4>Photos of pest at different stages: &nbsp;&nbsp;&nbsp;</h4>-->
                <!--<input id="photoOfPest" type="file" name="photoOfPest" accept="image/*" onchange="previewFile()" multiple/><br>-->
                <!--<img id="photoOfPestImage" src="" alt="Image preview..."><br>-->
                <!--<h4>Photos maize at all stages of damage: &nbsp;&nbsp;&nbsp;</h4>-->
                <!--<input id="photoOfDamage" type="file" name="photoOfDamage" accept="image/*" onchange="previewFile()" multiple/><br>-->
                <!--<img id="photoOfDamageImage" src="" alt="Image preview..."><br><br>-->
                <!--<input type="submit" value="Submit the Form">-->
            </div>
		</form>
        <form id="uploadForm" enctype="multipart/form-data" method="post">
            <div class="FAW">
                <h2>Photos</h2>
                <h4>Photos of pest at different stages: &nbsp;&nbsp;&nbsp;</h4>
                <input id="photoOfPest" type="file" name="photoOfPest" accept="image/*" onchange="previewFile()" required multiple/><br>
                <img id="photoOfPestImage" src="" alt="Image preview..."><br>
                <h4>Photos maize at all stages of damage: &nbsp;&nbsp;&nbsp;</h4>
                <input id="photoOfDamage" type="file" name="photoOfDamage" accept="image/*" onchange="previewFile()" required multiple/><br>
                <img id="photoOfDamageImage" src="" alt="Image preview..."><br><br>
                <input type="submit" value="Submit the Form">
            </div>
        </form>
	</div>

</div>
<script>

    $(function(){
        var options = {
            url: '/upload',    // override for form's 'action' attribute
            type: 'post',        // 'get' or 'post', override for form's 'method' attribute
            dataType: 'json',        // 'xml', 'script', or 'json' (expected server response type)
            clearForm: true,        // clear all form fields after successful submit
            beforeSubmit:  showRequest,  // pre-submit callback
            success:       showResponse  // post-submit callback

            //target:        '#output2',   // target element(s) to be updated with server response
            // other available options:
            //resetForm: true        // reset the form after successful submit
            // $.ajax options can be used here too, for example:
            //timeout:   3000
        };

        $('#uploadForm').submit(function(e) {
            //alert("A");
            $(this).ajaxSubmit(options);
            // Prevent form submission
            e.preventDefault();
        });
    });

    function showRequest(formData, jqForm, options) {
        var queryString = $.param(formData);
        var isValid = true;
        var i = 0;
        $('[required]').each(function() {
            if ($(this).val() === '') {
                isValid = false;
            }
        });

        $('input[type=radio]:checked').each(function() {
            i = i + 1;
        });
        //alert(i);

        if (isValid && i === 3) {
            return true;
        } else {
            return false;
        }
    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (!responseText.error) {
            alert(responseText.message);
            alert("A");
            $.ajax({
                type: "post",
                url: "/detailedForm",
                dataType: 'json',
                data: $("#insertForm").serialize(),
                success: function (result) {
                    if (!result.error) {
                        alert("success");
                    } else {
                        alert(result.message);
                    }
                }
            })
        } else {
            // error
            alert(responseText.message);
        }
    }

	function pestSelect() {
	    var pestsPresent = document.getElementById("pestsPresent").value;
	    if (!pestsPresent) {
            document.getElementsByClassName("FAW")[0].style.display = "none";
            document.getElementsByClassName("FAW")[1].style.display = "none";
		} else if (pestsPresent === "FAW") {
            document.getElementsByClassName("FAW")[0].style.display = "block";
            document.getElementsByClassName("FAW")[1].style.display = "block";
		} else {
            document.getElementsByClassName("FAW")[0].style.display = "none";
            document.getElementsByClassName("FAW")[1].style.display = "none";
	        alert("To be Developed")
		}
	}
</script>
</body>
</html>
