<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>FAW/Locust - User Management</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//unpkg.com/flatpickr"></script>

    <style>
        body { padding-top:80px; word-wrap:break-word; }
        #Username {
            position:relative;
            left:998px;
            top:35px;
        }
        .banner{
            position:relative;
            left:67px;
            top:30px;
            width:65%;
        }
        #class1{
            position:relative;
            left:300px;
            top:60px;
            width:16%;
        }form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }
        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
            text-align:center;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }
        .floatingBox {
            display: inline-block;
            width:350px;
        }
        .inputBoxDate {
            width: 10%;
        }
        .selected {
            background-color: brown;
            color: #FFF;
        }
        #userListForm {
            margin: 0 10% 0 10%;
        }
        #dataDisplay {
            overflow-x: auto;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Username"><%= user.firstName%>
            <span class="caret"></span></button>
        <a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg"/></a>
        <ul id="userMenu" class="dropdown-menu dropdown-menu-right">

        </ul>
    </div>
    <!--<a href="/newEntry" class="btn btn-default btn-lg" id="class1">New Entry</a>-->
    <!--<a href="/query" class="btn btn-default btn-lg" id="class2">Data History</a>-->
    <a href="/userhome" class="btn btn-default btn-lg" id="class1">User Home</a>
    <a type="button"  href="/signup" class="btn-default btn"> Add User </a>

    <div id="userListForm">
        <div class="row">
            <h4 class="floatingBox"><strong>Date Created:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">From:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">To:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <h4 class="floatingBox"><strong>Date Modified:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">From:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateModified" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">To:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateModified" placeholder="Select Date">
        </div><br>
        <div class="row">
            <h4 class="floatingBox"><strong>User Name:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">First Name:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate" type="text" id="firstName" placeholder="Enter First Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">Last Name:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate" type="text" id="lastName" placeholder="Enter Last Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <h4 class="floatingBox"><strong>User Role:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="userrole" id="Admin" value="Admin"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Admin</h5>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="userrole" id="Regular" value="Regular"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Regular</h5>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br>

        <input type="submit" onclick="query()" class="btn-default btn" style="color: #ffffff; background-color: #a7cb9f" value="Filter">
        <button type="button" id="editUserButton" class="delete-row btn-default btn">Edit User(s)</button>
        <button type="button" class="delete-row btn-default btn">Delete User(s)</button>
    </div>
    <br>
    <h4 style="margin-left:75px;"><strong>Most Recent Records:</strong></h4>

    <div id="dvData">

        <table id="dataDisplay" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>User Role</th>
                <th>Date Created</th>
                <th>Created By</th>
                <th>Date Last Modified</th>
                <th>Last Modified By</th>
                <th>Status</th>
                <th>Last Login Time</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>User Role</th>
                <th>Date Created</th>
                <th>Created By</th>
                <th>Date Last Modified</th>
                <th>Last Modified By</th>
                <th>Status</th>
                <th>Last Login Time</th>
            </tr>
            </tfoot>
        </table>

    </div>

    <script type="text/javascript">

        var d;
        var rowSelected = [];
        var queryString1;
        var queryString2;
        var table = $('#dataDisplay').DataTable();
        var tstring = "";
        var UserRole = "<%= user.userrole %>";
        var DropMenu;

        $(document).ready(function(){
            $(function() {
                flatpickr(".date", {
                    dateFormat: "Y-m-d",
                    time_24hr: true
                });

                if (UserRole === "Admin") {
                    DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                        "\t\t\t<li><a href=\"/userManagement\">User Management</a></li>\n" +
                        "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                    $("#userMenu").empty();
                    $("#userMenu").append(DropMenu)
                } else if ( UserRole === "Regular") {
                    DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                        "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                    $("#userMenu").empty();
                    $("#userMenu").append(DropMenu)
                }
            });

            $('#dataDisplay tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');

                    d = table.row( this ).data();
                    d.counter++;
                    table.row( this ).data( d ).draw();

                    rowSelected = [
                        {
                            Name: "First_Name",
                            Value: d[0]
                        },
                        {
                            Name: "Last_Name",
                            Value: d[1]
                        },
                        {
                            Name: "Username",
                            Value: d[2]
                        },
                        {
                            Name: "Password",
                            Value: d[3]
                        },
                        {
                            Name: "User_Role",
                            Value: d[4]
                        },
                        {
                            Name: "Date_Created",
                            Value: d[5]
                        },
                        {
                            Name: "Created_By",
                            Value: d[6]
                        },
                        {
                            Name: "Date_Last_Modified",
                            Value: d[7]
                        },
                        {
                            Name: "Last_Modified_By",
                            Value: d[8]
                        },
                        {
                            Name: "Status",
                            Value: d[9]
                        },
                        {
                            Name: "Last_Login_Time",
                            Value: d[10]
                        }
                    ]

                }

                alert(d);
                alert("Row: " + rowSelected[1].Name);
                console.log(rowSelected[2].Name);
                console.log(rowSelected[2].Value);

                for ( var i = 0; i < rowSelected.length; i++ ) {
                    if ( i === 0 ) {
                        tstring += rowSelected[i].Name + "=" + rowSelected[i].Value;
                    } else {
                        tstring += "&" + rowSelected[i].Name + "=" + rowSelected[i].Value;
                    }

                }

                console.log("tstring for loop: " + tstring);

            } );

            $("#editUserButton").on("click", function () {
                $.ajax({
                    url: '/editUserQuery',
                    type: 'GET',
                    dataType: 'json',
                    async: false,
                    data: tstring,
                    success: function (result) {
                        window.location.replace('/editUser')
                    }
                })
            });
        });

        function query() {
            //alert("a");
            var dateCreatedFrom = document.getElementsByClassName("datePicker")[0].value;
            var dateCreatedTo = document.getElementsByClassName("datePicker")[1].value;
            var dateModifiedFrom = document.getElementsByClassName("datePicker")[2].value;
            var dateModifiedTo = document.getElementsByClassName("datePicker")[3].value;
            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
            var Admin = document.getElementById("Admin").checked;
            var Regular = document.getElementById("Admin").checked;
            if (Admin) {
                status = document.getElementById("Admin").value;
            } else if (Regular) {
                status = document.getElementById("Regular").value;
            } else {
                status = false;
            }

            queryString1 = "dateCreatedFrom=" + dateCreatedFrom + "&dateCreatedTo=" + dateCreatedTo + "&dateModifiedFrom=" + dateModifiedFrom + "&dateModifiedTo=" + dateModifiedTo;
            queryString2 = "&firstName=" + firstName + "&lastName=" + lastName + "&Admin=" + Admin + "&Regular=" + Regular;


            var querystr = queryString1 + queryString2;
            alert(querystr);

            if (!dateCreatedFrom || !dateCreatedTo || !dateModifiedFrom || !dateModifiedTo || !firstName || !lastName || !Admin || !Regular) {
                table.clear();
                queryAndDisplay(querystr);
            } else {
                alert("Please Select Both Dates!");
            }
        }

        var queryAndDisplay = function (querystr) {
            alert(querystr);
            console.log("querystr: " + querystr);

            $.ajax({
                url: '/filterUser',
                type: 'GET',
                dataType: 'json',
                async: false,
                data: querystr,
                success: function (resp) {
                    for (var i = 0; i < resp.length; i++) {
                        table.row.add( [
                            resp[i].firstName,
                            resp[i].lastName,
                            resp[i].username,
                            resp[i].password,
                            resp[i].userrole,
                            resp[i].dateCreated,
                            resp[i].createdUser,
                            resp[i].dateModified,
                            resp[i].modifiedUser,
                            resp[i].status,
                            resp[i].lastLoginTime
                        ] ).draw( false );

//                    $("#dvData").append($("<table id='dataDisplay'></table>"));
//
//                      table.append($("<tr id='title'>"));
//                    var field = [
//                        "Select",
//                        "First Name",
//                        "Last Name",
//                        "Username",
//                        "Password",
//                        "User Role",
//                        "Date Created",
//                        "Date Last Modified"
//                    ];
//
//                    for (var i = 0; i < field.length; i++) {
//                        $("#title").append($("<th>" + field[i] + "</th>"));
//                    }
//                    table.append($("</tr>"));

//                        table.append($("<tr id='dataColumn" + (i + 1) + "' >"));
//                        $("#dataColumn" + (i + 1)).append($("<td>" + "<input type='checkbox' name='record'>" + "</td>" + "<td contenteditable='true' >" + resp[i].firstName + "</td>" + "<td contenteditable='true'>" + resp[i].lastName + "</td>" + "<td contenteditable='true'>" + resp[i].username + "</td>" + "<td>" + resp[i].password + "</td>" + "<td contenteditable='true'>" + resp[i].userrole + "</td>" + "<td contenteditable='true'>" + resp[i].dateCreated + "</td>" + "<td contenteditable='true'>" + resp[i].dateModified + "</td>"));


//                        table.append($("</tr>"));
                    }
                }

            });
        }

    </script>
</div>
</body>
</html>
