<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>FAW/Locust -  User Management</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="/css/style_query.css" type="text/css">-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }
        form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }
        table{
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid #cdcdcd;
        }
        table th, table td{
            padding: 10px;
            text-align: left;
        }
        .floatingBox {
            display: inline-block;
        }
        .inputBoxDate {
            width: 10%;
        }
        .inputBoxNumber {
            width: 8.4%;
        }
    </style>
    <link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="//unpkg.com/flatpickr"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg" style="height:147px" /></a>
        <h1><span class="fa fa-anchor"></span> FAW Project -  User Management </h1><h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4><br>
        <a href="/profile" class="btn btn-default btn-sm"> User Home </a>
        <a href="/dataEntry" class="btn btn-default btn-sm"> Data Entry </a>
        <!--<a href="/signup" class="btn btn-default btn-sm"> Sign Up </a>-->
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a type="button"  href="/signup" class="btn-default btn"> Add User </a>

    </div>

    <!--<form>-->
    <!--<input type="text" id="username" placeholder="Enter New Username">-->
    <!--<input type="text" id="firstName" placeholder="Enter New First Name">-->
    <!--<input type="text" id="lastName" placeholder="Enter New Last Name">-->
    <!--<input type="text" id="password" placeholder="Enter New Password">-->
    <!--<input type="radio" name="userrole" value="Admin"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Admin</h5>&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--<input type="radio" name="userrole" value="Regular"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Regular</h5>&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--<input type="button" class="add-row" value="Add Row">-->
    <!--</form>-->
    <div id="userListForm">
        <div class="row">
            <h4 id="subtitles" class="text-center3"><strong>Number of Records Displayed:</strong></h4>

            <h4 id="subtitles" class="floatingBox text-center2"><strong>Date Created:</strong></h4>
            <h6 class="floatingBox">From:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">To:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">
        </div>
        <div class="row">
            <h6 class="floatingBox text-center2">Display per Page:</h6><input  class="text-center1  inputBoxNumber" type="text" id="username">
            <h4 id="subtitles" class="floatingBox text-center text-centeroffset-3"><strong>Date Modified:</strong></h4>
            <h6 class="floatingBox">From:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateModified" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">To:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateModified" placeholder="Select Date">
        </div><br>
        <div class="row">
            <h4 id="subtitles" class="floatingBox text-center2"><strong>User Name:</strong></h4>
            <h6 class="floatingBox">First Name:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate" type="text" id="firstName" placeholder="Enter First Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h6 class="floatingBox">Last Name:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate" type="text" id="lastName" placeholder="Enter Last Name">
        </div><br>
        <div class="row">
            <h4 id="subtitles" class="floatingBox text-center"><strong>User Role:</strong></h4>
            <input type="radio" name="userrole" value="Admin"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Admin</h5>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="userrole" value="Regular"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Regular</h5>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <br>

        <!--<input type="text" id="lastName" placeholder="Enter New Last Name">-->
        <!--<input type="text" id="password" placeholder="Enter New Password">-->
        <!--<input type="radio" name="userrole" value="Admin"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Admin</h5>&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--<input type="radio" name="userrole" value="Regular"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Regular</h5>&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--<input type="button" class="add-row" value="Add Row">-->
        <input type="submit" onclick="query()" class="btn-default btn" style="color: #ffffff; background-color: #a7cb9f" value="Filter">
        <button type="button" class="delete-row btn-default btn">Edit User(s)</button>
        <button type="button" class="delete-row btn-default btn">Delete User(s)</button>
    </div><br>
    <div id="dvData">
        <h4 id="subtitles"><strong>Most Recent Records:</strong></h4>
        <table>

        </table>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".add-row").click(function(){
                var name = $("#name").val();
                var email = $("#email").val();
                var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
                $("table tbody").append(markup);
            });

            // Find and remove selected table rows
            $(".delete-row").click(function(){
                $("table tbody").find('input[name="record"]').each(function(){
                    if($(this).is(":checked")){
                        $(this).parents("tr").remove();
                    }
                });
            });
            $(function() {
                flatpickr(".date", {
                    dateFormat: "Y-m-d",
                    time_24hr: true
                });
            });
        });

        function query() {



            var dateCreatedFrom = document.getElementsByClassName("datePicker")[0].value;
            var dateCreatedTo = document.getElementsByClassName("datePicker")[1].value;
            var dateModifiedFrom = document.getElementsByClassName("datePicker")[2].value;
            var dateModifiedTo = document.getElementsByClassName("datePicker")[3].value;
            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
            alert(dateCreatedFrom + "  " + dateCreatedTo + dateModifiedFrom + "  " + dateModifiedTo);
            if (!dateCreatedFrom || !dateCreatedTo || !dateModifiedFrom || !dateModifiedTo || !firstName || !lastName) {
                $("#dataDisplay").remove();
                $("#dvData").append($("<table id='dataDisplay'></table>"))

                queryAndDisplay(dateCreatedFrom, dateCreatedTo, dateModifiedFrom, dateModifiedTo, firstName, lastName);
            } else {
                alert("Error!!!");
            }
        }

        var queryAndDisplay = function (dateCreatedFrom, dateCreatedTo, dateModifiedFrom, dateModifiedTo, firstName, lastName) {
            var ajaxRequest;
            try{
                // Opera 8.0+, Firefox, Safari
                ajaxRequest = new XMLHttpRequest();
            }catch (e){
                // Internet Explorer Browsers
                try{
                    ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
                }catch (e) {
                    try{
                        ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
                    }catch (e){
                        // Something went wrong
                        alert("Your browser broke!");
                        return false;
                    }
                }
            }

            ajaxRequest.onreadystatechange = function() {
                //alert("xhr status: " + ajaxRequest.readyState);

                if (ajaxRequest.readyState == 4 && ajaxRequest.status == 200) {
                    var ajaxReturn = JSON.parse(ajaxRequest.response);
                    //alert(ajaxReturn[0].errStatus);
                    document.getElementById("dataDisplayDiv").style.display = "none";

                    if (!ajaxReturn[0].errStatus) {

                        var table = $("#dataDisplay");
                        table.append($("<tr id='title'>"));
                        var field = [
                            "Select",
                            "First Name",
                            "Last Name",
                            "Username",
                            "Password",
                            "User Role",
                            "Date Created",
                            "Date Last Modified"
                        ];

                        for (var i = 0; i < field.length; i++) {
                            $("#title").append($("<th>" + field[i] + "</th>"));
                        }
                        table.append($("</tr>"));

                        for (var i = 0; i < ajaxReturn.length; i++) {

                            table.append($("<tr id='dataColumn" + (i + 1) + "' >"));
                            $("#dataColumn" + (i + 1)).append($("<td>" + "<input type='checkbox' name='record'>" + "</td>" + "<td contenteditable='true' >" + ajaxReturn[i].firstName + "</td>" + "<td contenteditable='true'>" + ajaxReturn[i].lastName + "</td>" + "<td contenteditable='true'>" + ajaxReturn[i].username + "</td>" + "<td>" + ajaxReturn[i].password + "</td>" + "<td contenteditable='true'>" + ajaxReturn[i].userrole + "</td>" + "<td contenteditable='true'>" + ajaxReturn[i].dateCreated + "</td>" + "<td contenteditable='true'>" + ajaxReturn[i].dateModified + "</td>"));


                            table.append($("</tr>"));
                        }
                            


                    }
                }
            };

            var queryString = "?dateCreatedFrom=" + dateCreatedFrom + "&dateCreatedTo=" + dateCreatedTo + "&dateModifiedFrom=" + dateModifiedFrom + "&dateModifiedTo=" + dateModifiedTo + "&firstName=" + firstName + "&lastName=" + lastName;
            ajaxRequest.open("GET", "/editUser" + queryString, true);
            ajaxRequest.send(querystring);
        };

    </script>
</div>
</body>
</html>
