<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>FAW/Locust - User Management</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="../css/Title.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//unpkg.com/flatpickr"></script>

    <style>
        body 		{ padding-top:80px; word-wrap:break-word; }

        form{
            margin: 20px 0;
        }
        form input, button{
            padding: 5px;
        }

        .inputBoxDate {
            width: 10%;
        }
        .selected {
            background-color: brown;
            color: #FFF;
        }
        #userListForm {
            margin: 0 10% 0 10%;
        }
        #dvData {
            /*overflow-x: auto;*/
            width: 82%;
            margin-left:110px;
        }

    </style>

</head>
<body>
<div class="container center">
    <a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg" style="height:147px"/></a>

</div><br><br>
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> FAW Project -  User Management </h1><h4><span class="fa fa-user"></span>&nbsp;<strong>Account Name</strong>: <%= user.username %></h4><br>
        <a href="/userhome" class="btn btn-default btn-lg">User Home</a>&nbsp;&nbsp;
        <a href="/signup" class="btn btn-default btn-lg">Add User</a>&nbsp;&nbsp;
        <div class="dropdown floating-Box">
            <button class="btn btn-primary btn-lg" type="button" data-toggle="dropdown" id="Username"><%= user.firstName%>
                <span class="caret"></span></button>
            <ul id="userMenu" class="dropdown-menu">

            </ul>
        </div>
    </div><br>
    <!--<a href="/newEntry" class="btn btn-default btn-lg" id="class1">New Entry</a>-->
    <!--<a href="/query" class="btn btn-default btn-lg" id="class2">Data History</a>-->
    <div class="container">

        <div id="userListForm">
            <div class="row">
                <h4 class="floatingBox"><strong>Date Created:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="floatingBox">From:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="floatingBox">To:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateCreated" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <h4 class="floatingBox"><strong>Date Modified:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="floatingBox">From:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateModified" placeholder="Select Date">&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="floatingBox">To:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate datePicker date" type="text" id="dateModified" placeholder="Select Date">
            </div><br>
            <div class="row">
                <h4 class="floatingBox"><strong>User Name:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="floatingBox">First Name:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate" type="text" id="firstName" placeholder="Enter First Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h6 class="floatingBox">Last Name:</h6>&nbsp;&nbsp;&nbsp;<input class="inputBoxDate" type="text" id="lastName" placeholder="Enter Last Name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <h4 class="floatingBox"><strong>User Role:</strong></h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="userrole" id="Regular" value="Regular"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Regular</h5>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="userrole" id="Admin" value="Admin"><h5 class="floatingBox">&nbsp;&nbsp;&nbsp;Admin</h5>&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br>

        <input type="submit" onclick="query()" class="btn-default btn" style="color: #ffffff; background-color: #a7cb9f" value="Filter">
        <button id="editUserButton" class="delete-row btn-default btn">Edit User</button>
        <button id="suspendUserButton" class="btn-default btn">Suspend User(s)</button>
    </div>
    <br>
    <h4 style="margin-left:100px;"><strong>Most Recent Records:</strong></h4>

    <div id="dvData">

        <table id="dataDisplay" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>First_Name</th>
                    <th>Last_Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>User_Role</th>
                    <th>Date_Created</th>
                    <th>Created_By</th>
                    <th>Date_Last_Modified</th>
                    <th>Last_Modified_By</th>
                    <th>Status</th>
                    <th>Last_Login_Time</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            <tfoot>
                <tr>
                    <th>First_Name</th>
                    <th>Last_Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>User_Role</th>
                    <th>Date_Created</th>
                    <th>Created_By</th>
                    <th>Date_Last_Modified</th>
                    <th>Last_Modified_By</th>
                    <th>Status</th>
                    <th>Last_Login_Time</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <script type="text/javascript">

        var d;
        var rowData = {};
        var rowSelected = [];
        var querystr = "";
        var queryString1;
        var queryString2;
        var table = $('#dataDisplay').DataTable();
        var tstring = "";
        var UserRol = "<%= user.userrole %>";
        var DropMenu;
        var username = [];
        var userrole = "";

        $(document).ready(function() {
            $(function () {
                alert ("Default: " + userrole);
                queryAndDisplay();

                flatpickr(".date", {
                    dateFormat: "Y-m-d",
                    time_24hr: true
                });

                if (UserRol === "Admin") {
                    DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                        "\t\t\t<li><a href=\"/userManagement\">User Management</a></li>\n" +
                        "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                    $("#userMenu").empty();
                    $("#userMenu").append(DropMenu)
                } else if (UserRol === "Regular") {
                    DropMenu = "<li><a href=\"/userprofile\">Profile</a></li>\n" +
                        "\t\t\t<li><a href=\"/signout\">Sign Out</a></li>";
                    $("#userMenu").empty();
                    $("#userMenu").append(DropMenu)
                }
            });

            $('#dataDisplay tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    d = table.row(this).data();
                    var index = username.indexOf(d[2]);
                    username.splice(index, 1);
                } else {
//                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');

                    d = table.row(this).data();
                    d.counter++;
                    table.row(this).data(d).draw();

                    username.push(d[2]);

                    var thArray = [];

                    $('#dataDisplay > thead > tr > th').each(function () {
                        thArray.push($(this).text())
                    })

                    console.log("thArray length: " + thArray.length);

                    for (var i = 0; i < thArray.length; i++) {
                        rowSelected[i] = {};
                        rowSelected[i].Name = thArray[i];
                        rowSelected[i].Value = d[i];
                    }
                }

            });


            $("#editUserButton").on("click", function () {
                if (confirm("Please make sure to only select ONE of the users to edit.") === true) {

                    for (var i = 0; i < rowSelected.length; i++) {
                        if (i === 0) {
                            tstring += rowSelected[i].Name + "=" + rowSelected[i].Value;
                        } else {
                            tstring += "&" + rowSelected[i].Name + "=" + rowSelected[i].Value;
                        }

                    }
//                    console.log("tstring for loop: " + tstring);

                        $.ajax({
                            url: '/editUserQuery',
                            type: 'GET',
                            dataType: 'json',
                            async: false,
                            data: tstring,
                            success: function (result) {
                                window.location.replace('/editUser')
                            }
                        })
                } else {
                    return false;
                }
            });


            $("#suspendUserButton").on("click", function () {
//                alert(username);
                if (confirm("Are you sure you would like to suspend this user(s)?")) {
                    var usernameStr = "usernameStr=";
                    for (var i = 0; i < username.length; i++) {
                        usernameStr += username[i] + ",";
                        if (i === username.length - 1) {
                            usernameStr = usernameStr.substring(0, usernameStr.length - 1);
//                            alert(usernameStr);
                            update();
                        }
                    }

                    function update() {
                        $.ajax({
                            url: '/suspendUser',
                            type: 'GET',
                            dataType: 'json',
                            async: false,
                            data: usernameStr,
                            success: function (result) {
                                if (!result.error) {
                                    window.location.replace('/userManagement')
                                } else {
                                    alert(result.message);
                                }
                            }
                        })
                    }
                } else {
                    return false;
                }
            });
        });

        function query() {
            var dateCreatedFrom = document.getElementsByClassName("datePicker")[0].value;
            var dateCreatedTo = document.getElementsByClassName("datePicker")[1].value;
            var dateModifiedFrom = document.getElementsByClassName("datePicker")[2].value;
            var dateModifiedTo = document.getElementsByClassName("datePicker")[3].value;
            var firstName = document.getElementById("firstName").value;
            var lastName = document.getElementById("lastName").value;
//            userrole = $("input[name='userrole']:checked").val();
//            alert ("Checked: " + userrole);
            if ($("input[name='userrole']").prop("checked")) {
                userrole = $("input[name='userrole']:checked").val();
                alert ("Checked: " + userrole);
            } else {
                userrole = "";
                alert ("Unchecked: " + userrole);
            }

            queryString1 = "dateCreatedFrom=" + dateCreatedFrom + "&dateCreatedTo=" + dateCreatedTo + "&dateModifiedFrom=" + dateModifiedFrom + "&dateModifiedTo=" + dateModifiedTo;
            queryString2 = "&firstName=" + firstName + "&lastName=" + lastName + "&userrole=" + userrole;


            var querystr = queryString1 + queryString2;
            // alert(querystr);

            if (dateCreatedFrom || dateCreatedTo || dateModifiedFrom || dateModifiedTo || firstName || lastName || userrole) {
                table.clear();
                queryAndDisplay(querystr);
            } else {
                queryAndDisplay(querystr);
            }
        }

        var queryAndDisplay = function (querystr) {
            // alert(querystr);
            console.log("querystr: " + querystr);

            $.ajax({
                url: '/filterUser',
                type: 'GET',
                dataType: 'json',
                async: false,
                data: querystr,
                success: function (resp) {
                    for (var i = 0; i < resp.length; i++) {
                        table.row.add( [
                            resp[i].firstName,
                            resp[i].lastName,
                            resp[i].username,
                            resp[i].password,
                            resp[i].userrole,
                            resp[i].dateCreated,
                            resp[i].createdUser,
                            resp[i].dateModified,
                            resp[i].modifiedUser,
                            resp[i].status,
                            resp[i].lastLoginTime
                        ] ).draw( false );
                    }
                }

            });
        }

    </script>
</div>
</div>
</body>
</html>
