<!-- views/user_home.ejs -->
<!doctype html>
<html>
<head>
	<title>FAW/Locust Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style>
		#Username{
			position:relative;
			left:998px;
			top:35px;
		}
		.banner{
			position:relative;
			left:67px;
			top:30px;
			width:65%;
		}
		#class1{
			position:relative;
			left:300px;
			top:60px;
			width:16%;
		}
		#class2{
			position:relative;
			left:500px;
			top:60px;
			width:16%;
		}
		#button{
			 width:3%;
		 }
		.select{
			width:60%;
		}
		.center {
			margin-left:170px;
			width:300%;
		}
		.floatingBox {
			display: inline-block;
			width:350px;
		}
		.floating-Box{
			display: inline;
		}
		.floatingBox1{
			display: inline-block;
			width:350px;
		}
		.floatingBox3{
			display: inline-table;
			width:250px;
		}
		table, th{
			border: 1px solid black;
			text-align:center;

		}
	</style>
</head>
<body>
<div class="container">
	<div class="dropdown">
		<button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="Username">User Name
			<span class="caret"></span></button>
		<a href="//aworldbridge.com"><img class="banner" src="/pic/NewWBBanner.jpg"/></a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><a href="/userprofile">Profile</a></li>
			<li><a href="/userManagement">User Management</a></li>
			<li><a href="/signout">Sign Out</a></li>
		</ul>
	</div>
	<a href="/dataEntry1" class="btn btn-default btn-lg" id="class1">New Entry</a>
	<a href="/dataQuery" class="btn btn-default btn-lg" id="class2">Data History</a>
</div>
<br><br><br><br>
<div class="container">
	<div class="center">
		<h4 class="floatingBox"><strong> Num of Records Displayed</strong></h4>
		<h4 class="floating-Box"><strong>Date Range</strong></h4>
		<h6 class="floating-Box">From:</h6><input type="text">
		<h6 class="floating-Box">To:</h6><input type="text">
	</div>
	<div class="center">
		<h6 class="floating-Box">Display per Page:</h6><input  class="floatingBox" type="text" name="dislay per page" value="20" style="background:WhiteSmoke;" readonly>
		<h4 class="floatingBox1"><strong>User Name</strong></h4>
		<h6 class="floating-Box">First Name:</h6><input type="text" name="first name" style="background:WhiteSmoke" readonly>
		<h6 class="floating-Box">Last Name:</h6><input type="text" name="first name" style="background:WhiteSmoke" readonly>
	</div>
	<div class="center">
		<h4><strong>Other Customized Filters</strong></h4>
		<h5 class="floatingBox3">Category1:<select class="select"></select></h5>
		<h5 class="floatingBox3">Content:<input></h5><br>
		<h5 class="floatingBox3">Category2:<select class="select"></select></h5>
		<h5 class="floatingBox3">Content:<input></h5><br>
		<h5 class="floatingBox3">Category3:<select class="select"></select></h5>
		<h5 class="floatingBox3">Content:<input></h5>
	</div><br>
	<div class="center">
		<button id="button" class="btn btn-primary btn-sm" type="button">Filter</button>
		<button id="button" class="btn btn-primary btn-sm" type="button">Edit</button>
		<button id="button" class="btn btn-primary btn-sm" type="button">Delete</button>
	</div>
	<br>
    <div class="center">
	<h4 id="subtitles"><strong>Most Recent Records:</strong></h4>
    <div id="table">
        <table style="width:28%;">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Entry Column 1</th>
            <th>Entry Column 2</th>
            <th>Entry Column 3</th>
            <th>Entry Column 4</th>
            <th>Entry Column 5</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Entry Column 1</th>
            <th>Entry Column 2</th>
            <th>Entry Column 3</th>
            <th>Entry Column 4</th>
            <th>Entry Column 5</th>
        </tr>
        </tfoot>
        </table>
    </div>
</div>
</div>
<script type='text/javascript'>
    var queryString1;
    var queryString2;
    var table = $("#dataDisplay");
    var t = table.DataTable();

    $(document).ready(function(){
        $(".add-row").click(function(){
            var name = $("#name").val();
            var email = $("#email").val();
            var markup = "<tr><td><input type='checkbox' name='record'></td><td>" + name + "</td><td>" + email + "</td></tr>";
            $("table tbody").append(markup);
        });

        // Find and remove selected table rows
        $(".delete-row").click(function(){
            $("table tbody").find('input[name="record"]').each(function(){
                if($(this).is(":checked")){
                    $(this).parents("tr").remove();
                }
            });
        });
        $(function() {
            flatpickr(".date", {
                dateFormat: "Y-m-d",
                time_24hr: true
            });
        });
    });

    function query() {
        alert("a");
        var dateCreatedFrom = document.getElementsByClassName("datePicker")[0].value;
        var dateCreatedTo = document.getElementsByClassName("datePicker")[1].value;
        var dateModifiedFrom = document.getElementsByClassName("datePicker")[2].value;
        var dateModifiedTo = document.getElementsByClassName("datePicker")[3].value;
        var firstName = document.getElementById("firstName").value;
        var lastName = document.getElementById("lastName").value;
        var Admin = document.getElementById("Admin").checked;
        var Regular = document.getElementById("Admin").checked;
        if (Admin) {
            status = document.getElementById("Admin").value;
        } else if (Regular) {
            status = document.getElementById("Regular").value;
        } else {
            status = false;
        }


        queryString1 = "dateCreatedFrom=" + dateCreatedFrom + "&dateCreatedTo=" + dateCreatedTo + "&dateModifiedFrom=" + dateModifiedFrom + "&dateModifiedTo=" + dateModifiedTo;
        queryString2 = "&firstName=" + firstName + "&lastName=" + lastName + "&Admin=" + Admin + "&Regular=" + Regular;


        var querystr = queryString1 + queryString2;

        if (!dateCreatedFrom || !dateCreatedTo || !dateModifiedFrom || !dateModifiedTo || !firstName || !lastName || !Admin || !Regular) {
            $("table tbody").empty().append(queryAndDisplay(querystr));

                queryAndDisplay(querystr);
            alert(dateCreatedFrom + "a");
        } else {
            alert("Please Select Both Dates!");
        }
    }

    var queryAndDisplay = function (querystr) {

        $.ajax({
            url: '/Test',
            type: 'GET',
            dataType: 'json',
            async: false,
            data: querystr,
            success: function (resp) {

//                    $("#dvData").append($("<table id='dataDisplay'></table>"));


                //table.append($("<tr id='title'>"));
//                    var field = [
//                        "Select",
//                        "First Name",
//                        "Last Name",
//                        "Username",
//                        "Password",
//                        "User Role",
//                        "Date Created",
//                        "Date Last Modified"
//                    ];
//
//                    for (var i = 0; i < field.length; i++) {
//                        $("#title").append($("<th>" + field[i] + "</th>"));
//                    }
//                    table.append($("</tr>"));

                for (var i = 0; i < resp.length; i++) {
//                        table.append($("<tr id='dataColumn" + (i + Useless) + "' >"));
                    t.row.add( [
                        resp[i].firstName,
                        resp[i].lastName,
                        resp[i].username,
                        resp[i].password,
                        resp[i].userrole,
                        resp[i].dateCreated,
                        resp[i].createdUser,
                        resp[i].dateModified,
                        resp[i].modifiedUser,
                        resp[i].status,
                        resp[i].lastLoginTime
                    ] ).draw( false );

//                        table.append($("<tr id='dataColumn" + (i + Useless) + "' >"));
//                        $("#dataColumn" + (i + Useless)).append($("<td>" + "<input type='checkbox' name='record'>" + "</td>" + "<td contenteditable='true' >" + resp[i].firstName + "</td>" + "<td contenteditable='true'>" + resp[i].lastName + "</td>" + "<td contenteditable='true'>" + resp[i].username + "</td>" + "<td>" + resp[i].password + "</td>" + "<td contenteditable='true'>" + resp[i].userrole + "</td>" + "<td contenteditable='true'>" + resp[i].dateCreated + "</td>" + "<td contenteditable='true'>" + resp[i].dateModified + "</td>"));


//                        table.append($("</tr>"));

                }
            }

        });
    }
</script>
</body>
</html>